.stamp__content {
  max-height:85%;
  margin:auto;
  background-color: #f2f2f2;
  text-align: center;
}

.stamp__item {
  text-align: center;
  padding:80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stamp__button-submit{
  background-color: white;
  border: none;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  width: 800px;
  height: 300px;
}
